if MEMBRANE_PANEL

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Membrane Panel"

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 10
config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
    default 10

endif